{{> head }}

{{> navbar }}

<div class="container">
    <div class="row">
        <div class="col-md-8">
        <h1>Cerdo del ahorro</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas incidunt harum est rerum quia, quo quos. Quis recusandae velit molestiae harum tenetur nostrum doloremque distinctio similique, corporis aliquid. At, asperiores.</p>
        </div>
        <div class="col-md-4">
            <img src="assets/img/ahorro.png" class="img-thumbnail">

        </div>
    </div>
</div>

{{> footer}}
